---
import Button from "./Button.astro";
---

<header>
  <h1 class="title">Valeriia <br /><span>l'expérience vr</span></h1>

  <Button
    href="https://drive.google.com/drive/folders/1l5SZRu5eb-tecXK0FNQeNO4qASDrS_kL?usp=drive_link"
  >
    télécharger
  </Button>
</header>

<style>
  .title {
    font-size: 1.4rem;
    line-height: 80%;
  }

  .title span {
    font-family: Pop;
    font-size: 1rem;
  }

  header {
    padding: 8px;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
</style>
