---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/valeriia.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }

    @font-face {
      font-family: "Merri";
      src: url("/fonts/MerriweatherSans-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Pop";
      src: url("/fonts/Poppins-Light.ttf") format("truetype");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Merri-med";
      src: url("/fonts/MerriweatherSans-Medium.ttf") format("truetype");
      font-weight: medium;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Merri-semi";
      src: url("/fonts/MerriweatherSans-SemiBold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }

    body {
      margin: 0;
    }
    p {
      margin: 0;
    }
    .primary {
      color: rgb(37, 99, 244);
    }
    p {
      font-family: Pop, system-ui, sans-serif;
    }
    html {
      font-family: Merri, system-ui, sans-serif;
      font-weight: normal;
      font-style: normal;

      background: #f6f6f6;
      background-size: 224px;
    }
  </style>
</html>
